target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/dataSources.local.xml
/.idea/dataSources/fec0fa53-7a7c-4f65-816e-f255c0c3dac3.xml
/.idea/dataSources/fec0fa53-7a7c-4f65-816e-f255c0c3dac3/storage_v2/_src_/database/test.kkQ2AA/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/fec0fa53-7a7c-4f65-816e-f255c0c3dac3/storage_v2/_src_/database/test.kkQ2AA.meta
