<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Unit" type="org.d2u.base.shared.model.Unit"/>
        <typeAlias alias="UnitScope" type="org.d2u.base.shared.model.Unit$Scope"/>
        <typeAlias alias="Quantity" type="org.d2u.base.shared.model.Quantity"/>
        <typeAlias alias="HistoricalQuantity" type="org.d2u.base.shared.model.HistoricalQuantity"/>
        <typeAlias alias="Product" type="org.d2u.base.shared.model.Product"/>
        <typeAlias alias="I18N" type="org.d2u.base.shared.util.I18N"/>
        <typeAlias alias="I18NLocale" type="org.d2u.base.shared.util.I18N$Locale"/>
        <typeAlias alias="I18NMessage" type="org.d2u.base.shared.util.I18N$Message"/>
    </typeAliases>

    <objectFactory type="org.d2u.base.server.data.CacheableObjectFactory">
    </objectFactory>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/test"/>
                <property name="username" value="postgres"/>
                <property name="password" value="postgres"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/test"/>
                <property name="username" value="postgres"/>
                <property name="password" value="postgres"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="org/d2u/base/server/data/UnitDDLMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/UnitMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/UnitScopeMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/ProductMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/ProductDDLMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/ProductHistoricalPriceManager.xml"/>
        <mapper resource="org/d2u/base/server/data/ProductHistoricalPriceDDLMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/I18NDDLMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/I18NMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/I18NLocaleMapper.xml"/>
        <mapper resource="org/d2u/base/server/data/I18NMessageMapper.xml"/>
    </mappers>

</configuration>