# Default ignored files
/shelf/
/workspace.xml
/dataSources/fec0fa53-7a7c-4f65-816e-f255c0c3dac3/storage_v2/_src_/database/test.kkQ2AA/schema/pg_catalog.0S1ZNQ.meta
/dataSources/fec0fa53-7a7c-4f65-816e-f255c0c3dac3/storage_v2/_src_/database/test.kkQ2AA/schema/public.abK9xQ.meta
